/exercises/hw1/hello
/exercises/hw1/hello_solution
/exercises/hw1/vector_add
/exercises/hw1/vector_add_solution
/exercises/hw1/matrix_mul
/exercises/hw1/matrix_mul_solution

/exercises/hw2/stencil_1d
/exercises/hw2/stencil_1d_solution
/exercises/hw2/matrix_mul_shared
/exercises/hw2/matrix_mul_shared_solution

/exercises/hw3/vector_add
/exercises/hw3/vector_add_solution
/exercises/hw3/vector_add_profile.txt


/exercises/hw4/matrix_sums
/exercises/hw4/matrix_sums_solution
/exercises/hw4/matrix_sums_profile.txt

/exercises/hw5/reductions
/exercises/hw5/reductions_profile.txt
/exercises/hw5/matrix_sums
/exercises/hw5/matrix_sums_solution
/exercises/hw5/matrix_sums_profile.txt
/exercises/hw5/matrix_sums_solution_profile.txt
/exercises/hw5/max_reduction
/exercises/hw5/max_reduction_solution
/exercises/hw5/max_reduction_profile.txt
