/exercises/hw1/hello
/exercises/hw1/hello_solution
/exercises/hw1/vector_add
/exercises/hw1/vector_add_solution
/exercises/hw1/matrix_mul
/exercises/hw1/matrix_mul_solution

/exercises/hw2/stencil_1d
/exercises/hw2/stencil_1d_solution
/exercises/hw2/matrix_mul_shared
/exercises/hw2/matrix_mul_shared_solution

/exercises/hw3/vector_add
/exercises/hw3/vector_add_solution
/exercises/hw3/vector_add_profile.txt


/exercises/hw4/matrix_sums
/exercises/hw4/matrix_sums_solution
/exercises/hw4/matrix_sums_profile.txt

/exercises/hw5/reductions
/exercises/hw5/reductions_profile.txt
/exercises/hw5/matrix_sums
/exercises/hw5/matrix_sums_solution
/exercises/hw5/matrix_sums_profile.txt
/exercises/hw5/matrix_sums_solution_profile.txt
/exercises/hw5/max_reduction
/exercises/hw5/max_reduction_solution
/exercises/hw5/max_reduction_profile.txt


/exercises/hw7/overlap
/exercises/hw7/overlap_solution
/exercises/hw7/overlap.nsys-rep
/exercises/hw7/multi
/exercises/hw7/multi_solution

/exercises/hw8/task1/task1
/exercises/hw8/task1/task1_solution
/exercises/hw8/task1/task1_profile.txt
/exercises/hw8/task1/task1_solution_profile.txt
/exercises/hw8/task2/task2
/exercises/hw8/task2/task2_solution
/exercises/hw8/task2/task2_profile.txt
/exercises/hw8/task2/task2_solution_profile.txt
/exercises/hw8/task3/task3
/exercises/hw8/task3/task3_solution
/exercises/hw8/task3/task3_profile.txt
/exercises/hw8/task3/task3_solution_profile.txt